## Introduction:

This notebook is one of the notebooks that illustrate some data types that allow you to create variable with more than one value stored in. 

These concepts are.. 

1. Lists
2. Tuples
3. Sets

In this notebook we gonna learn Sets and the rest of the topics will be illustrated in other notebooks ..

## Sets in Python:

Sets are iteratable, unordered collection .. it's elements are note repeated .. 

The major advantage of a set, is that it has a highly optimized method for checking whether a specific element is contained in the set or not. This is based on a data structure known as a (Hash table). This is not the case in neither Lists nor Tuples .. 


Set is defined using the keyword (set) in Python ..

In [33]:
set0 = set([])  #initialize empty set
print(set0)

set()

In [34]:
set1 = set([2, 3, 8])  #initialize a set with 2 elements 
print(set1)

{8, 2, 3}

In [35]:
alphabet = {"A", "B", "C"}
alphabet.add("D") 
print(alphabet)

{'B', 'C', 'A', 'D'}

### Merge two sets:

Very similar to Math .. sets operations can be done using (union, intersection, ...)

In [36]:
set2 = set([10, 6, 9])
print(set2)

{9, 10, 6}

In [37]:
set1.union(set2)

{2, 3, 6, 8, 9, 10}

Not only union .. but also sorted :)

### Intersection:

In [38]:
set1.intersection(set2)

set()

No common elements between the two sets .. hence the intersection results in an empty set .. 

### Difference:

In [39]:
set1 - set2

{2, 3, 8}

The difference results in the 1st set ..

### Delete a set:

To clear the values inside the set .. you can use clear() built in function

In [42]:
set1.clear()

In [43]:
set1

set()

set1 become an empty set

## References:

You can learn more about sets through the below links:
1. https://www.geeksforgeeks.org/sets-in-python/
2. https://www.youtube.com/watch?v=r3R3h5ly_8g